<div class="container">
  <h3>Memo List</h3>
  <div class="row">
    <% @memos.each do |memo| %>
      <div class="col-sm-4">
        <div class="card text-white bg-warning mb-3">
          <div class="card-header">
            <%= memo.title %>
            <a href="/memos/<%=memo.id%>" data-method="delete"> 削除</a><a href="/memos/<%=memo.id%>/edit"> 編集</a>
          </div>
          <div class="card-body">
            <p class="card-text"><%= memo.body %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>